.avLanding {
  width: 284px;
  height: 420px;
  background: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
}

@media screen and (min-width: 1024px) {
  .avLanding {
    height: 580px;
  }
}
