.contactSection {
  width: 320px;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.contactContainer {
  width: 400px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.contactTitle {
  margin-top: 30px;
  font-size: 40px;
  color: var(--primaryColor);
  text-align: center;
}

.textContact {
  width: 290px;
  height: 300px;
  border: 2px solid var(--primaryColor);
  background: transparent;
  border-radius: 10px;
}

.textContact::placeholder {
  padding: 10px;
  color: white;
  font-size: 16px;
  outline: none;
}

.textContact:active {
  border: 2px solid var(--primaryColor);
}

.myInfo h3 {
  text-align: center;
  padding-top: 10px;
}

@media screen and (min-width: 1024px) {
  .contactSection {
    width: 920px;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 50px;
  }
  .textContact {
    width: 450px;
    height: 300px;
  }
  .contactContainer {
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
