.contactSection {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
  gap: 10px;
}

.contact {
  width: 880px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contactTitle {
  font-size: 40px;
  color: var(--primaryColor);
  text-align: center;
}

.textContact {
  width: 290px;
  height: 300px;
  border: 2px solid var(--primaryColor);
  background: transparent;
  border-radius: 10px;
}

.textContact::placeholder {
  padding: 10px;
  color: white;
  font-size: 16px;
  outline: none;
}

.textContact:active {
  border: 2px solid var(--primaryColor);
}

.myInfo h3 {
  text-align: center;
  padding-top: 10px;
}

@media screen and (min-width: 1024px) {
  .contactSection {
    width: 100%;
    height: 100vh;
    justify-content: space-evenly;
    flex-direction: row;
    gap: 10px;
  }
}
