.containerContact {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  margin: 30px 0;
}

.titleContact {
  text-align: center;
  font-size: 40px;
  color: var(--primaryColor);
  margin-top: 10px;
}

.myPhoto {
  width: 280px;
  height: 340px;
  background: lightcoral;
  position: relative;
}

.typingText {
  width: 290px;
  padding: 10px;
  border: 2px solid var(--primaryColor);
  border-radius: 10px;
  text-align: justify;
}

.speedStats {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 0;
}

.gameBox {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.inputGame {
  border: 2px solid var(--primaryColor);
  border-radius: 5px;
  width: 280px;
  background: transparent;
  padding: 4px 10px;
  color: white;
  margin: 10px 0;
}

.inputGame::placeholder {
  color: white;
}

.myPhoto::before {
  content: "";
  width: 280px;
  height: 340px;
  background: transparent;
  border: 2px solid var(--primaryColor);
  position: absolute;
  bottom: 4px;
  left: 4px;
  z-index: -1;
}

.realInfo {
  margin-top: 10px;
  text-align: center;
}

.realInfo p {
  font-size: 18px;
  font-weight: bold;
}

.correct {
  font-weight: bold;
  color: var(--primaryColor);
}

.incorrect {
  font-weight: bold;
  color: red;
}

.active {
  font-weight: bold;
}

@media screen and (min-width: 768px) {
  .containerContact {
    align-items: center;
    flex-direction: row-reverse;
    gap: 40px;
  }
  .myPhoto {
    height: 440px;
  }
  .myPhoto::before {
    height: 440px;
    bottom: 8px;
    left: 8px;
  }
}

@media screen and (min-width: 1024px) {
  .typingText {
    width: 540px;
    font-size: 18px;
  }
  .speedStats {
    font-size: 18px;
  }
  .inputGame {
    width: 420px;
    padding: 8px 10px;
    font-size: 16px;
  }
  .realInfo p {
    font-size: 24px;
  }
  .titleContact {
    font-size: 64px;
    margin-top: 10px;
  }
  .containerContact {
    padding-bottom: 30px;
  }
  .myPhoto {
    height: 450px;
  }
  .myPhoto::before {
    height: 450px;
  }
}
