.containerContact {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin: 40px 0;
}

.myPhoto {
  width: 320px;
  height: 420px;
  background: lightcoral;
  position: relative;
}

.myPhoto::before {
  content: "";
  width: 320px;
  height: 420px;
  background: transparent;
  border: 2px solid var(--primaryColor);
  position: absolute;
  bottom: 8px;
  left: 8px;
  z-index: -1;
}

.realInfo {
  text-align: center;
}
